{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -ex

brew bundle --file=/dev/stdin <<EOF
brew "fzf"
brew "gh"
brew "ghq"
brew "git"
brew "gnupg"
brew "jq"
brew "mise"
brew "nvim"
brew "ripgrep"
brew "starship"
brew "tmux"

cask "ghostty"
EOF

{{ end -}}
