{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update && \
sudo apt install -y \
    ripgrep \
    fzf

# ghq
TEMP_DIR=$(mktemp -d)
GHQ_URL="https://github.com/x-motemen/ghq/releases/latest/download/ghq_linux_amd64.zip"
curl -L -o "${TEMP_DIR}/ghq_linux_amd64.zip" "${GHQ_URL}"
unzip -d "${TEMP_DIR}" "${TEMP_DIR}/ghq_linux_amd64.zip"
mv "${TEMP_DIR}/ghq_linux_amd64/ghq" ~/.local/bin/
rm -rf "${TEMP_DIR}"

# mise
curl -sS https://mise.run | sh

# starship
curl -sS https://starship.rs/install.sh | sh -s -- -y -b ~/.local/bin

{{ end -}}
