#!/bin/bash

set -ex

# Tmux Plugin Manager
mkdir -p ~/.tmux/plugins

TEMP_DIR=$(mktemp -d)
TPM_URL="https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
curl -L -o "${TEMP_DIR}/tpm.tar.gz" "${TPM_URL}"
tar zxvf "${TEMP_DIR}/tpm.tar.gz" -C "${TEMP_DIR}"
rm -rf ~/.tmux/plugins/tpm
mv "${TEMP_DIR}/tpm-master" ~/.tmux/plugins/tpm
rm -rf "${TEMP_DIR}"

TPM_PATH=$HOME/.tmux/plugins/tpm
# Installation of tpm may fail, ignore the error.
$TPM_PATH/bin/install_plugins || true
$TPM_PATH/bin/clean_plugins || true
$TPM_PATH/bin/update_plugins all || true

# Neovim
nvim --headless "+Lazy! update" +qa
