[user]
    name = Kenta Okamoto
    email = chocoby@gmail.com
    signingkey = CF01B85A

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[diff]
    compactionHeuristic = true

[ghq]
    root = ~/src

[hub]
    protocol = https

[include]
    path = ~/.gitconfig_local
