[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/QuickBuf"]
	path = .vim/bundle/QuickBuf
	url = git://github.com/vim-scripts/QuickBuf.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/grep"]
	path = .vim/bundle/grep
	url = git://github.com/vim-scripts/grep.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
