[user]
    name = Kenta Okamoto
    email = chocoby@gmail.com
    signingkey = CF01B85A

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[pager]
    show = diff-highlight | less
    diff = diff-highlight | less
    log = diff-highlight | less
    clean = git branch | grep -v 'except' | grep -v '*' | xargs git branch -D

[interactive]
    diffFilter = diff-highlight

[diff]
    compactionHeuristic = true

[ghq]
    root = ~/src

[hub]
    protocol = https

[include]
    path = ~/.gitconfig_local

[pull]
    rebase = false
