[user]
    name = Kenta Okamoto
    email = 85665+chocoby@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKf0waRVqnOwwhELvkAvnOIL68SBz5NG8vM+u5olOFL0

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
{{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[commit]
    gpgsign = true

[color]
    ui = auto

[pager]
    show = diff-highlight | less
    diff = diff-highlight | less
    log = diff-highlight | less
    clean = git branch | grep -v 'except' | grep -v '*' | xargs git branch -D

[interactive]
    diffFilter = diff-highlight

[diff]
    compactionHeuristic = true

[ghq]
    root = ~/src

[hub]
    protocol = https

[include]
    path = ~/.gitconfig_local

[pull]
    rebase = false

[init]
    defaultBranch = main

[core]
    ignorecase = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
